html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 4rem; 
    font-weight: lighter; 
    color: white;
}

h2 {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #2D3436;
}

h3 a {
    font-size: 2.5rem; 
    font-weight: normal; 
    color: white; 
    text-decoration: none;
}

h4 {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #2D3436;
}

p {font-size: 1rem;}
