html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 4rem; 
    font-weight: lighter; 
    color: white;
}

h2 {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #2D3436;
}

h3 a {
    font-size: 2.5rem; 
    font-weight: normal; 
    color: white; 
    text-decoration: none;
}

h4 {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #2D3436;
}

p, li {
    font-size: 1.2rem; 
    color: #777777;
}

@media (max-width: 900px) {
    h1 {font-size: 3rem;}
}

input[type="text"], input[type="password"], input[type="search"] {
    font-size: .9rem;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: all .5s ease-in-out;
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus {    
    border: 3px solid #555;
} 