.navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.navbar-option {display: inline-flex;}

.navbar-option a {
    font-size: 1.2rem; 
    color: white; 
    text-decoration: none;
    margin: 0 0 0 50px;
}

.navbar-link a {transition: all .3s ease-in-out;}

.navbar-link a:hover {color: lightgray;}

.navbar-button {transition: all .3s ease-in-out;}

.navbar-button:hover {transform: translateY(-5px);}

.navbar-button  a{
    color: #2D3436;
    font-weight: bold;
    background-color: #F9CA24;
    border: 3px solid #F9CA24;
    border-radius: 10px;
    padding: 12px 40px;
}

@media (max-width: 1440px) {
    .navbar {height: 100px;}

    h3 a {font-size: 2rem;}

    .navbar-option a {font-size: 1rem;}

    .navbar-button a {padding: 10px 35px;}
}

