.principal-content {
    background-image:
        linear-gradient(rgba(44, 62, 80,0.85), rgba(44, 62, 80,0.85)), 
        url('../../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}